/* General site-wide layout */
@font-face {
  font-family: "RemoteOptima";
  src: url("optima-regular.ttf");
}
@font-face {
  font-family: "RemoteGillLight";
  src: url("gillsans-light.ttf");
}
body {
  margin: 0;
}
p, h3 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 14pt;
}
h3 {
  font-size: 120%;
  font-weight: bold;
}
.website-header {
  border-top: solid 0.6px #bdbdbd;
  border-bottom: solid 0.6px #bdbdbd;
}
.website-title {
  float: left;
  margin-left: 20px;
  margin-top: 6px;
  font-family: 'RemoteOptima';
  font-weight: normal;
  font-size: 330%;
}
.website-header-button-bar {
  position: relative;
  height: 70px;
}
.website-header-buttons {
  float: right;
}
.website-header-button {
  float: right;
  height: 70px;
  width: 120px;
  border-left: solid 0.6px #bdbdbd;
  background-color: #519625;
  line-height: 69px;
  text-align: center;
  vertical-align: middle;
  font-family: 'RemoteGillLight';
  font-size: 15pt;
  color: #ffffff;
  text-shadow: 1px 0 #8d, 0 -1px #8d, -1px 0 #8d, 0 1px #8d;
}
.website-tagline {
  margin-left: 20px;
  margin-top: 9px;
  font-family: 'RemoteOptima';
  font-weight: normal;
  font-size: 150%;
}
